# version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: daily_bible_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${MYSQL_SERVICE_PORT}:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${DB_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: daily_bible_phpmyadmin
    restart: always
    ports:
      - "${PHPMYADMIN_SERVICE_PORT}:80"
    environment:
      PMA_HOST: db
    depends_on:
      db:
        condition: service_healthy
  

  backend:
    build:
      context: ./backend
      dockerfile: ../docker/backend/Dockerfile
    volumes:
      - ./backend:/app
    ports:
      - "${BACKEND_SERVICE_PORT}:8000"
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
      - ./backend/.env

  frontend:
    build:
      context: ./frontend
      dockerfile: ../docker/frontend/Dockerfile
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "${FRONTEND_SERVICE_PORT}:3000"
    env_file:
      - ./frontend/.env
    environment:
      - HOST=0.0.0.0
      - DOCKER_ENV=true
    command: >
      sh -c "if [ \"$${NODE_ENV}\" = \"production\" ]; then 
               npm run build && npm run start; 
             else 
               npm run dev; 
             fi"

volumes:
  mysql_data: